body{
    background-image: url(majomon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: aliceblue;
}


.visibilidadPls{
    background-color: rgb(0, 0, 0);
    width: max-content;
    margin: 0 auto;
    border-radius: 5px;
    color: rgb(255, 238, 0);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(71, 71, 71);
    opacity:.7;
    color: white;
    text-align: center;
    border: 1px black solid;
  }
  
  footer a:link{
    color:white
  }
  
  footer a:visited{
    color: aliceblue;
  }