body {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

header{
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    border: #000000 1px solid;


}

#cT{
    font-family: "DejaVu Math TeX Gyre";
}

main {
    color: #000000;
}

.main_content{
    background-color: black;
    color: white;
}

footer{
    background-color: black;
    position: absolute;
    bottom: 0;


}

#foot{
    color: white;
    font-size: 13px;
}