body{
    background-color: #e0e0e0;
}

p{
    color: #555;
    line-height: 1.5;
}

h3{
    color: #3498db;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.i{
    display: flex;
    justify-content: center;
}

.boton{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.boton:hover{
    background-color: #8a3228;
}

.portafolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.proyecto{
    flex:1;
    min-width: 300px;
    text-align: center;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

#containT{
    display: flex;
    width: 350px;
    color: #a8cfe9;
    border: 2px solid #a8cfe9;
    background-color: black;
}

div#containT {
    justify-content: center;
}