:root {
    /* Color palette  */ 
    --default: #999999;
    --red: #5a2019;
    --reder1: #B22222;
    --reder2: #DC143C;
    --reder3: #FF0000;
    --reder4: #ec6161;
    --baby: #FF00FF;
    --blue: #3498DB;
    --purple: #9B59B6;
    --yellow: #FEB506;
    --green: #62CB31;
    
    /* Background colors */
    --im_blue: #283685;
    --andnowred: #cc0909;
    
    /* Card color */
    --cartica: #fafafa;
    --tengo_necrosis: #2bff00;
}

*{
  font-family: 'Roboto', sans-serif;
}

body {
  background: #1E5372;
  background: linear-gradient(to right, var(--im_blue) , var(--andnowred)); 
}

a{
  color: inherit;
}

p{
  margin: 0;
  display: inline-block;
}

h2{
  color: #fafafa;
  margin-bottom: 10px;
}

.contenesta{
  padding: 0px 20px;
  height: 100%;
}

.yugi{
  position: relative;
  background-color: var(--cartica);
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  
  margin-right: 10px;
  margin-bottom: 20px;
}

.yugi.default{
  border-bottom: 5px solid var(--default);
}

.yugi.red{
  border-bottom: 5px solid var(--red);
}

.yugi.reder1{
  border-bottom: 5px solid var(--reder1);

}

.yugi.reder2{
  border-bottom: 5px solid var(--reder2);

}

.yugi.reder3{
  border-bottom: 5px solid var(--reder3);

}

.yugi.reder4{
  border-bottom: 5px solid var(--reder4);

}

.yugi.baby{
  border-bottom: 5px solid var(--baby);

}

.yugi.blue{
  border-bottom: 5px solid var(--blue);
}

.yugi.purple{
  border-bottom: 5px solid var(--purple);
}

.yugi.yellow{
  border-bottom: 5px solid var(--yellow);
}

.yugi.green{
  border-bottom: 5px solid var(--green);
}

.yugi.parocardiaco {
  transition: 0.5s;
}

.yugi.parocardiaco:hover{
  background-color: var(--bg-cartica);
}

.yugi.parocardiaco:hover {
  transform: scale(1.05);
}

.yugi.animate{
    border-bottom: none;
}

.PKfire{
    color: rgb(255, 94, 0);
    font-family: fantasy;
}

.yugi:hover{
  background-color: var(--tengo_necrosis)
}

.yugi.animate:hover{
  background-color: var(--bg-cartica);
}

.yugi.animate:before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 5px;
  width: 0%;
  border-radius: 0 0 5px 5px;
  transition: 0.5s;
}

.yugi.animate:hover:before{
  width: 100%;
}

.yugi.animate.default:before{
  background-color: var(--default)
}

.yugi.animate.blue:before{
  background-color: var(--blue)
}

.yugi.animate.yellow:before{
  background-color: var(--yellow)
}

.yugi.animate.purple:before{
  background-color: var(--purple)
}

.yugi.animate.green:before{
  background-color: var(--green)
}

.yugi.animate.red:before{
  background-color: var(--red)
}

.yugi.animate.reder1:before{
  background-color: var(--reder1)
}

.yugi.animate.reder2:before{
  background-color: var(--reder2)
}

.yugi.animate.reder3:before{
  background-color: var(--reder3)
}

.yugi.animate.reder4:before{
  background-color: var(--reder4)
}

.yugi.animate.baby:before{
  background-color: var(--baby)
}