body{
    font-size: 30px;
}

table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td, tr{
    border: 1px solid black;
}

.headT{
    background-color: gray;
    color: white;
}

.lightgrayandred{
    background-color: lightgray;
    color: red;
}

.blue{
    color: blue;
}

.sub{
    text-decoration:underline;
}

.px{
    width: 300px;
    
}

.mainP{
    color: green;
}

.resaltat{
    width: 300px;
    background-color: orange;
}

.resaltatSB{
    background-color: rgb(106, 106, 243);
}

.black:active{
    color: black;
}

.black:visited{
    color: black;
}

.black:hover{
    color: black;
    background-color: red;
}

.black:active{
    color: black;
}

#segon{
    width: 300px;
    display: inline-block;
}

#tercer{
    width: 300px;
    display: inline-block;
}

#tercer:link{
    color: black;
}

#tercer:visited{
    color: black;
}