body{
    background-image: url(MajimaS.gif);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#tituloPoderoso{
    background-color: rgb(167, 202, 233);
    width: 350px; 
    margin: 0 auto;
    border-radius: 5px;
}

#legal{
    background-color: rgb(167, 202, 233);
    width: 350px; 
    margin: 0 auto;
    border-radius: 5px;
}