body{
    background-image: url(majimaFInal.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: aliceblue;
}

.fondo{
  background: hsl(208, 24%, 74%);
  width: 217px;
  height: 166px;
  border-radius: 10px;
  margin: auto;
}

.calculator {
  max-inline-size: 22rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  margin: auto;
  width: 200px;
  background: hsl(208, 24%, 74%);
}

.calculator__output {
  font-size: 2rem;
  text-align: end;
  background: hsl(204, 17%, 33%);
  color: hsl(255, 100%, 100%);
  padding-block-start: 0.25rem;
  padding-block-end: 0.25rem;
  padding-inline-end: 0.75rem;
}

.calculator__keys {
  display: grid;  
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
}

.calculator__key--enter {
  grid-column: 4 / 5;
  grid-row: 2 / span 4;
}

.calculator__keyN{
  color: rgb(0, 0, 0);
  background: hsl(204, 67%, 63%);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5) inset;
  border:none;
  border-radius: 5px;
}

.calculator__keyP{
  color: rgb(0, 0, 0);
  background: hsl(295, 57%, 58%);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5) inset;
  border:none;
  border-radius: 5px;
}

.calculator__keyS{
  color: rgb(0, 0, 0);
  background: hsl(32, 57%, 58%);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5) inset;
  border:none;
  border-radius: 5px;
}

.calculator__keyI {
  grid-column: 4 / 5;
  grid-row: 2 / span 5;
  background: hsl(357, 100%, 72%);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  border:none;
  border-radius: 5px;
} 

.calculator__keyD{
  color: white;
  background: hsl(0, 0%, 0%);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  border:none;
  border-radius: 5px;
}

.calculator__keyG{
  color:rgb(182, 30, 30);
  font-weight: bolder;
  grid-column: 1 / 5;
  background: hsl(90, 100%, 0%);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  border:none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(71, 71, 71);
  opacity:.7;
  color: white;
  text-align: center;
  border: 1px black solid;
}

footer a:link{
  color:white
}

footer a:visited{
  color: aliceblue;
}