body{
    background-image: url(MajimaCompanies.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#numero{
    background-color: aliceblue;
    margin: auto;
    width: fit-content;
    border-radius: 3px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(71, 71, 71);
    opacity:.7;
    color: white;
    text-align: center;
    border: 1px black solid;
  }
  
  footer a:link{
    color:white
  }
  
  footer a:visited{
    color: aliceblue;
  }