header{
    text-align: center;
    background-color: black;
    margin-top: -8px;
    margin-right: -40px;
    margin-left: -40px;
    background-attachment: fixed;
    color: white;
    border: 1px solid rgb(0, 0, 0);
}

aside{
    width: 30%;
    float: right;
    font-weight: bolder;
}

#RDR{
  background-color: rgb(128, 21, 21);
  color: rgb(182, 182, 102);
  padding-left: 15px;
  margin-left: 15px;
  border: 3px solid rgb(182, 182, 102);
}

#KH{
  background-color: rgb(0, 0, 0);
  color: rgb(132, 172, 40);
  padding-left: 15px;
  margin-left: 15px;
  border: 3px solid rgb(132, 172, 40);
}

#PKMN{
  background-color: rgb(48, 138, 115);
  color: rgb(211, 211, 111);
  padding-left: 15px;
  margin-left: 15px;
  border: 3px solid rgb(211, 211, 111);
  
}

.title{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-style: italic;
}

body{
    background-color: rgb(172, 202, 202);
}

.squareE{
    background-color: rgb(165, 168, 189);
    border: 5px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 34px;
    width: 1200px;

}

#centery{
  text-align: center;
  text-decoration: underline;
  
}

#eu{
  background-image:url(images/gatito.png);
  background-attachment: fixed;
  color: rgb(255, 255, 255);
  padding-left: 15px;
  margin-left: 15px;
  border: 3px solid rgb(255, 255, 255);
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

footer{
    background-color: #573fac;
    text-align: center;
    border: #573fac 1px solid;
    color: white;
    position: fixed;
    bottom: 0;
    left: -2%;
    width: 2000px;
    font-weight: bolder;
}