body{
    background-color: bisque;
}

#OGtitle{
    background-color: black;
    border: 5px solid white;
    color: #ffffff;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    
}