body{
    background-image:url(images/nier-automata-sword-w.png);
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
}

#OGtitle{
    background-color: black;
    border: 5px solid white;
    color: #ffffff;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: huh;
    font-size: 50px;
    
}

.title_game{
    font-style: italic;
    text-align: center;
}

.title_game:link{
    color: azure;
}


#KH:hover{
    color: yellow;
    background-color: rgb(45, 149, 197);
}

#RDD:hover{
    color: red;
    background-color: rgb(185, 175, 26);
}

#ME:hover{
    color: gray;
    background-color: red;
}

.title_game:visited{
    color: rgb(155, 173, 173);
}

.title_game:active{
    color: red;
}

@font-face {
    font-family: huh;
    src: url(titulomachucho.woff);
}